{% extends "base.html" %}
{% block content %}
{% load staticfiles %}    
<br>
				<br>
				<br>
				<br>
				<div> 
					<img src="{% static 'images/Image1.jpg' %}" style="width: 1280px; height: 450px;">
				</div>
			</div>
		</div>
	<div>
		<h1 style="font-size: 20px; font-weight: bold; color: #E66225;">________________________________________________________________________________________________________________________________
		</h1>
		<div style="margin-top: 50px;">
			<h1 style="font-size: 30px; font-weight: bold; color: #69B1DD; float: left; margin-left: 79px; margin-top: 42px;">
				Organizers :
			</h1>
		</div>
		<div style="float: left; width: 12%;">
			<img src="{% static 'images/trc.png' %}" style="height: 135px; width: 150px; margin-left: 25px;">
		</div>
		<div style="float: left; width: 12%;">
			<img src="{% static 'images/cse.png' %}" style="height: 100px; width: 120px; margin-left: 45px;">
		</div>
		<div style="float: left; width: 12%;">
			<img src="{% static 'images/ece.png' %}" style="height: 100px; width: 120px; margin-left: 45px;">
		</div>
		<div style="float: left; width: 12%;">
			<img src="{% static 'images/ee.jpg' %}" style="height: 100px; width: 120px; margin-left: 45px;">
		</div>
		<div style="float: left; width: 12%;">
			<img src="{% static 'images/mmee.png' %}" style="height: 100px; width: 120px; margin-left: 45px;">
		</div>
		<div style="float: left; width: 12%;">
			<img src="{% static 'images/civil.png' %}" style="height: 100px; width: 120px; margin-left: 45px;">
		</div>
		<h1 style="font-size: 20px; font-weight: bold; color: #E66225;">________________________________________________________________________________________________________________________________
		</h1>
		<br>
		<div>
			<div style="width: 100%;">
				<h1 style="font-weight: bold; font-size: 30px;text-align: center;">
					MITRC INTERNAL HACKATHON 2019
				</h1>
				<h1 style="text-align: center; font-size: 20px;">
					MITRC Internal Hackathon is an open innovation model for MITRCians which utilise the energy of students in solving the problems from our surrounding and ecosystem. The main objective of MITRC Internal Hackathon is to inspire the students for innovation and give a practical exposal in real time environment. The outcomes of this hackathon is that students will become a technocraft and specially a better citizen of the society and will show his/her identity in global space near about 170+ studentswill submit the ideas on 30+ problem statements on different-different themes.
				</h1>
				<h1 style="text-align: center; font-size: 20px;">
					The selected students from this Hackathon will go ahead for National Level Hackathon named as SIH 2020.
				</h1>
			</div>
			<div>
				<h1 style="font-size: 20px; font-weight: bold; color: #E66225; margin-top: 40px; margin-bottom: 20px;">
						________________________________________________________________________________________________________________________________
					</h1>
				<div style="float: left; width: 50%; background-color: #74838A; height: 435px;">
					<h3 style="color: white; margin-left: 20px;">
						What is SIH 2020?
					</h3>
					<ul>
                        			<li style="color: white;">
                        				World’s Biggest Hackathon and Open Innovation model, an initiative by Ministry of HRD 4th edition of highly successful.
                        			</li>
                        			<li style="color: white;">
                        				Smart India Hackathon initiative Involves 2 Lakh+ students with 57,000+ ideas from 2200+ institutions against 530+ problem statements provided by 120+ organizations from across India.
                        			</li>
                        			<li style="color: white;">
                        				Students across India compete creatively to solve problems of Ministries, Departments and Industries to give solutions Harness.
                        			</li>
                       		 		<li style="color: white;">
                       		 			Technology Students across India compete to creatively solve problems and offer technical solutions.
                       		 		</li>
                        			<li style="color: white;">
                        				Harness expertise of students from AICTE/UGC approved institutions, IITs, NITs and IISc.
                        			</li>
                    			</ul>
                    			<h3 style="color: white; margin-left: 20px;">
                    				Why join SIH 2020?
                    			</h3>
                    			<ul style="color: white;">
                        			<li style="color: white;">
                        				Get innovative solutions to your problems in cost effective ways Opportunity to be a part of Nation Building Opportunity to brand your company.
                        			</li>
                        			<li style="color: white;">
                        				Nationally Recognition and visibility for your company across all premier institutions in India.
                        			</li>
                      	  			<li style="color: white;">
                      	  				Talented youngsters from all over the country offer out-of-the-box solutions to your problems.
                      	  			</li>
                        			<li style="color: white;">
                        				Be part of World’s biggest Open Innovation Movement Opportunity to work with some of the best talents in the country.
                        			</li>
                    			</ul>
				</div>
				<div style="float: left; background-color: #74838A; height: 435px; width: 50%;">
					<img src="{% static 'images/snh.png' %}" style="margin-left: 90px; margin-top: 60px;"> 
					<div >
	                            		<p style="font-size: 20px; font-weight: bold; margin-top: 10px; margin-left: 30px">
	                            			Invitation to all students of MITRC, Faculty Members, HODs and all stake holders to join MITRC Internal Hackathon.
	                            		</p>
	                           	 	<p style="font-size: 20px; font-weight: bold; margin-top: 10px; margin-left: 30px">
	                                	Solve the problems of your sorrounding and ecosystem by Technology and be a good technocraft.
	                            		</p>

	                            		<button onclick="openRegisterLink()" style=" margin-left: 30px; padding: 13px; border-radius: 7px; border-color: 2px black; margin-left: 240px; margin-top: 10px; background-color: #69B1DD;">
	                            			Click here to Register
	                            		</button>
                        		</div>
				</div>
				<div>
					<br>
					<br>
					<br>
					<h1 style="font-size: 20px; font-weight: bold; color: #E66225; margin-top: 40px;">
						________________________________________________________________________________________________________________________________
					</h1>
				<div>
					<div>
					<div>
							<h1 style="margin-left: 20px; color: #69B1DD; margin-bottom: 20px;">
					        		THEMES :
					       	</h1>
					       	<img src="{% static 'images/ab.png' %}" style="height: 500px; width: 100vw;">
					       	<h1 style="font-size: 20px; font-weight: bold; color: #E66225; margin-top: 40px;">
						________________________________________________________________________________________________________________________________
					</h1>
					</div>

							<h1 style="margin-left: 20px; color: #69B1DD; margin-bottom: 20px;">
					        		ORGANIZER'S COMMITTEE :
					       	</h1>
							<div>
								<div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
										<img src="{% static 'images/19.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">	
										</div>
										<div style="float: left; margin-left: 20px;">
											<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Prof. S.K Sharma
										</p>
										<p style="font-size: 12px;">
												Director MITRC
										</p>
										<p style="font-size: 12px;">
												SPOC MIH Committee
										</p>
										</div>
									</div>
								
								<div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/bat.png' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Dr. S.B Batra
										</p>
										<p style="font-size: 12px;">
												 Professor MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
								</div>
								<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/7.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Dr. Raish Muhammad
										</p>
										<p style="font-size: 12px;">
												 Professor MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left; ">
											<img src="{% static 'images/20.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Manish Mukhija
										</p>
										<p style="font-size: 12px;">
												Dean Acadmics MITRC
										</p>	
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>
										</div>
									</div>
									<div style="float: left;width: 33.33%;  margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/25.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Neeraj Jain
										</p>
										<p style="font-size: 12px;">
												Dean Examination MITRC
										</p><p style="font-size: 12px;">
												Member Organizing Committee
										</p>
										<p style="font-size: 12px;">
												Associate Professor MITRC
										</p>	
										</div>
									</div>
								</div>
								<div>
									<div style="float: left;width: 33.33%;margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/21.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Vikash Mahalawat
										</p>
										<p style="font-size: 12px;">
												Dean Student Affairs MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/22.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mrs. Chavi Nagpal
										</p>
										<p style="font-size: 12px;">
												HR MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/23.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Nitin Jaiswal
										</p>
										<p style="font-size: 12px;">
												TPO MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
								</div>
								<div>
									
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/1.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Arvind Sharma
										</p>
										<p style="font-size: 12px;">
												HOD CSE MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/2.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Deepak Sharma
										</p>
										<p style="font-size: 12px;">
												HOD ECE MITRC
										</p>
										<p style="font-size: 12px;">
												Member & Coordinator Organizing Committee
										</p>	
										</div>
									</div>
								</div>
								<div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/3.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Prasant Tyagi 
										</p>
										<p style="font-size: 12px;">
												HOD EE MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/4.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
											<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Rajeeve Kumar
										</p>
										<p style="font-size: 12px;">
												HOD ME MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/5.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Naresh Agarwal
										</p>
										<p style="font-size: 12px;">
												HOD CIVIL MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
								</div>
								<div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/6.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Amit Kumar Singh
										</p>
										<p style="font-size: 12px;">
												Assistant Professor
										</p>
										<p style="font-size: 12px;">
												1st Year Coordinator
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committees
										</p>	
										</div>
									</div>
									
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/8.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Rahul Sandilya
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>
										<p style="font-size: 12px;">
												Co-Coordinator MIH Committee
										</p>	
										</div>
									</div>
								</div>
								
								<div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/24.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Sumit Gupta
										</p>
										<p style="font-size: 12px;">
												Administration MITRC
										</p>
										<p style="font-size: 12px;">
												Member Organizing Committee
										</p>	
										</div>
									</div>
								</div>
								<h1 style="font-size: 20px; font-weight: bold; color: #E66225; margin-top: 40px;">
						________________________________________________________________________________________________________________________________
					</h1>
					<h1 style="margin-left: 20px; color: #69B1DD; margin-bottom: 40px;">
					        		MENTOR'S COMMITTEE :
					       	</h1>
								<div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/9.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Avneet Kumar
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/10.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Manish Kumar
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>		
										</div>
									</div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/11.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Abhishek Singh
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>		
										</div>
									</div>
								</div>
								<div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/12.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Rajesh Kumar
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>	
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/17.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left ; margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Ranjan Patel
										</p>
										<p style="font-size: 12px;">
											Assistant Professor MITRC
										</p>	
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/18.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Kalyan Singh
										</p>
										<p style="font-size: 12px;">
											Assistant Professor MITRC
										</p>	
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
									</div>
								</div><div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/15.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Lokendra Singh
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>	
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/16.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Mr. Rahul Garg
										</p>
										<p style="font-size: 12px;">
												Assistant Professor MITRC
										</p>	
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%; margin-top: 30px;">
										<div style="float: left;">
											<img src="{% static 'images/13.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Dr. Gajendra Saraswat
										</p>
										<p style="font-size: 12px;">
											Professor MITRC
										</p>	
										<p style="font-size: 12px;">
												Mentor MIH Committee
										</p>	
										</div>
										<div style="float: left;width: 33.33%; margin-top: 30px;">
									</div>
								</div>
							</div>
								<h1 style="font-size: 20px; font-weight: bold; color: #E66225; margin-top: 40px;">
						________________________________________________________________________________________________________________________________
					</h1>
					<h1 style="margin-left: 20px; color: #69B1DD; margin-bottom: 40px;">
					        		STUDENT'S COMMITTEE :
					       	</h1>
								<div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/zz.png' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Bhawansh Jangir (Zulu)
										</p>
										<p style="font-size: 12px;">
												B.Tech Scholar
										</p>
										<p style="font-size: 12px;">
												3rd Sem CSE
										</p>		
										</div>
									</div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/jainy.png' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Anisha Jain
										</p>
										<p style="font-size: 12px;">
												B.Tech Scholar
										</p>
										<p style="font-size: 12px;">
												3rd Sem CSE
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/deep.png' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											 Deepanshu Chauhan
										</p>
										<p style="font-size: 12px;">
												B.Tech Scholar
										</p>
										<p style="font-size: 12px;">
												3rd Sem CSE
										</p>	
										</div>
									</div>
								</div>
								<div>
									
									<div style="float: left;width: 33.33%;">
										<div style="float: left;  margin-top: 30px;">
											<img src="{% static 'images/gau.jpg' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px; border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Gaurav Saini
										</p>
										<p style="font-size: 12px;">
												B.Tech Scholar
										</p>
										<p style="font-size: 12px;">
												3rd Sem CSE
										</p>	
										</div>
									</div>
								</div>
							</div>
							<h1 style="font-size: 20px; font-weight: bold; color: #E66225; margin-top: 40px;">
						________________________________________________________________________________________________________________________________
					</h1>
					<h1 style="margin-left: 20px; color: #69B1DD; margin-bottom: 40px;">
					        		DESIGN COMMITTEE :
					       	</h1>
								<div>
									
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/ram.JPG' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px;border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Mr. Sudhir Ram
										</p>
										<p style="font-size: 12px; font-weight: bold;">
												DTP Designer & Editor
										</p>	
										<p style="font-size: 12px;">
												Administration MITRC
										</p>
										<p style="font-size: 12px;">
												Designer Committee
										</p>	
										</div>
									</div>
									<div style="float: left;width: 33.33%;">
										<div style="float: left;">
											<img src="{% static 'images/zz.png' %}" style="height: 120px;margin-left: 20px; width: 120px; float: left; border-radius: 100px; border: 1px solid black;">
										</div>
										<div style="float: left;  margin-left: 20px;">
										<p style="font-weight: bold; font-size: 15px; margin-top: 7px;">
											Bhawansh Jangir (Zulu)
										</p>
										<p style="font-size: 12px; font-weight: bold;">
												Web Designer
										</p>	
										<p style="font-size: 12px;">
												B.Tech Scholar
										</p>
										<p style="font-size: 12px;">
												Designer Committee
										</p>		
										</div>
									</div>
									
								</div>
						
					</div>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
			{% endblock %}