{% extends "base.html" %}
{% block content %}
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
<h1 style="font-weight: bold; font-size: 40px; color: #6BB2DE; text-align: center;">
	IDEA SUBMISSION
</h1><br>
<form action="{% url 'idea' prob.id %}" method="POST" enctype="multipart/form-data">
	<div class="row">
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Idea Title (Max length - 50)" name="title"
				style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px; background-color: #f2af80;"
				maxlength="50">
			<input type="hidden" value={{prob.id}} placeholder="Idea Title" name="pr"
				style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px; background-color: #f2af80;">

			<input type="file" name="doc"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;">
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<textarea type="text" value="" name="desc" placeholder="Problem Description (Max length - 250)"
				style="width: 50%; border-radius: 5px; padding: 7px; background-color: #f2af80;margin-top:15px;"
				maxlength="250"></textarea>
		</div>
	</div>
	<br>

	{% csrf_token %}


	<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">

	<input type="submit" value="Submit" style="width: 25vw;display:block; margin:auto; margin-top: 15px;  "
		class="hovg">
</form>



{% endblock %}