{% extends "base.html" %}
{% block content %}
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

<h1 style="font-weight: bold; font-size: 40px; color: #6BB2DE; text-align: center;">
	LOGIN
</h1><br>
<form action="{% url 'login' %}" method="POST">
	<div class="row">
		<div class="col-6" style="text-align: center;">
			<input type="text" value="" placeholder="Enter Username or E-mail" name="username"
				style="border-radius: 5px; padding: 7px;margin-top: 15px;background-color: #f2af80;width:50%;">

		</div>
		<div class="col-6" style="text-align: center;">
			<input type="password" value="" placeholder="Enter Password" name="password"
				style="border-radius: 5px; padding: 7px;margin-top: 15px;  background-color: #f2af80;width:50%;">
		</div>
	</div>

	<br>
	{% csrf_token %}

	<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

	<h6 style="color:red;font-size:2em;text-align: center;color:#fff;">{{error}}</h6>

	<div>

		<input type="submit" value="LOGIN" style="width: 25vw;display:block; margin:auto; margin-top: 15px; "
			class="hovg">
	</div>
</form>
<div>
	<a href="{% url 'password_reset' %}" style="text-decoration: none;">
		<button class="hov" style="width: 25vw;display:block; margin:auto; margin-top: 15px; ">Forgot
			Password?</button></a>
</div>



{% endblock %}