{% extends "base.html" %}
{% block content %}
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
<h1 style="font-weight: bold; font-size: 40px; color: #6BB2DE; text-align: center;">
    PROBLEM SUBMISSION
</h1><br>
<form action="{% url 'problem' %}" method="POST">
    <div class="row">
        <div class="col-lg-6 col-sm-12" style="text-align: center;">
            <input type="text" value="" placeholder="Problem Title" name="title"
                style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px; background-color: #f2af80;">
            <input type="text" value="" placeholder="Problem Code" name="code"
                style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px;  background-color: #f2af80;"
                maxlength="20">
            <input type="text" value="" placeholder="Organisation" name="Organisation"
                style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px;  background-color: #f2af80;"
                maxlength="100">
            <select name="complexity" placeholder=""
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;"
                required>
                <option value="Simple" disabled hidden selected>Problem Complexity</option>
                <option value="Simple">Simple</option>
                <option value="Medium">Medium</option>
                <option value="Complex">Complex</option>
            </select>
            <input list="themes" name="theme" placeholder="Problem Theme"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;"
                maxlength="100">
            <datalist id="themes">
                <option value="Smart Communication">
                <option value="Healthcare & Biomedical devices">
                <option value="Agriculture & Rural Development">
                <option value="Smart Vehicles">
                <option value="Food Processing">
                <option value="Robotics & Drones">
                <option value="Waste Management">
                <option value="Clean Water">
                <option value="Renewable Energy">
                <option value="Technology">
                <option value="Infrastructure">
                <option value="India & the World">
                <option value="Education Skiils">
                <option value="Social Welfare">
                <option value="Governance">
                <option value="Economy">
                <option value="Miscellaneous">
            </datalist>
        </div>
        <div class="col-lg-6 col-sm-12" style="text-align: center;">

            <select name="cat" placeholder=""
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;">
                <option value="Software" disabled hidden selected>Problem Category</option>
                <option value="Software">Software</option>
                <option value="Hardware">Hardware</option>
                <option value="Both">Both</option>
            </select>
            <textarea type="text" value="" name="desc" placeholder="Problem Description"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80; height: 150px;"></textarea>

        </div>

    </div>

    <br>
    {% csrf_token %}

    <hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
    <br>

    <input type="submit" value="Submit" style="width: 25%;display:block; margin:auto;  margin-top: 15px; " class="hovg">
    <br>
</form>


{% endblock %}