{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<style>
	.pro input {
		color: #000 !important;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 90%;

	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">
<br>
<h6 style="color:red;font-size:2em;text-align: center;">{{error}}</h6>

<div class="row pro">
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		Username<br>
		<input type="text" value="{{user.username}}" placeholder="Username" name="Username"
			style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;" disabled>
		<br><br></div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		E-mail <br>
		<input type="email" value="{{user.email}}" placeholder="E-mail" name="E-mail"
			style="width: 50%; border-radius: 5px; padding: 7px; background-color: #f2af80;" disabled>
		<br> <br></div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		First Name<br>
		<input type="text" value="{{user.first_name}}" placeholder="First Name" name="First Name"
			style="width: 50%; border-radius: 5px; padding: 7px;  background-color: #f2af80;" disabled>
		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		Last Name<br>
		<input type="text" value="{{user.last_name}}" placeholder="Last Name" name="Last Name"
			style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;" disabled>
		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		Father's Name<br>
		<input type="text" value="{{stu.father_name}}" name="Father's Name" placeholder="Father's Name"
			style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;" disabled>
		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		Aadhar Number<br>
		<input type="text" value="{{stu.aadhar}}" name="Father's Name" placeholder="Father's Name"
			style="width: 50%; border-radius: 5px; padding: 7px; background-color: #f2af80;" disabled>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">

		Collage ID<br>
		<input type="Number" value="{{stu.college_id}}" name="Collage ID" placeholder="Collage ID"
			style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;" disabled>
		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">
		Semester<br>
		<input value="{{stu.semester}}" name="Semester" placeholder="Semester"
			style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;" disabled>

		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">
		Branch<br>
		<input name="Branch" value="{{stu.branch}}" placeholder="Branch"
			style="width: 50%; border-radius: 5px; padding: 7px; background-color: #f2af80;" disabled>

		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">
		Contact Number<br>
		<input type="Number" value="{{stu.contact_number}}" name="Contact Number" placeholder="Contact Number"
			style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;" disabled>
		<br><br>
	</div>
	<div class="col-lg-6 col-sm-12" style="text-align: center;">
		Consent Letter<br>
		<a href="{{stu.letter.url}}">
			<input type="button" name="myFile"
				style="width: 50%; border-radius: 5px; padding: 7px;background-color: #f2af80;"
				value="Click to download file."></a>
	</div>
</div>
<br>
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%"><br>
<a href="{% url 'edits' %}" style="display:block;margin:auto;width:25%;text-align:center;" class="hovg">Edit
	Profile</a><br>
{% endblock %}