{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>
	$(document).ready(function (e) {
		$(document).on('click', '#verify', function (e) {
			e.preventDefault();
			var aadhar = $('#aadhar').val();

			$.ajax({
				type: 'POST',
				url: '{% url "aadhar" %}',
				data: {
					'aadhar': aadhar,
					'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
				dataType: 'json',
				success: function (response) {
					if (response['Status'] == 'Y') {
						$('#ad').val(aadhar)
						$('#mail').val(response['email'])
					}
					alert(response['Message']);
				},
				error: function (rs, e) {
					alert('An error has occured..');
				}
			});
		});
	});
</script>

<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

<form>
	<h1 style="font-weight: bold; font-size: 40px; color: #6BB2DE; text-align: center;">
		STUDENT
	</h1><br>
	<div class="row">
		<div class="col-6" style="text-align: center;">
			<input type="text" value="" name="Adhar Card Number" placeholder="Adhar Card Number"
				style="width: 50%; border-radius: 5px;padding: 7px; background-color: #f2af80;margin-bottom: 15px;"
				id="aadhar" maxlength="12" pattern="[0-9]{12}" required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="submit" value="Verify" style="width: 50%; " class="hovg" id="verify">
		</div>
	</div><br>
	<div style="width:100%;text-align: center;">
		<a href="{% static 'Consent Letter.docx' %}">Click to download sample consent letter</a>
	</div>
</form>

<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

<h6 style="color:red;font-size:2em;text-align: center;">{{error}}</h6>

<form action="{% url 'signups' %}" method="post" enctype="multipart/form-data">

	<div class="row">
		<div class="col-6" style="text-align: center;">
			<input type="text" value="" placeholder="Username" name="Username"
				style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="password" value="" name="Password" placeholder="Password"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="hidden" name="aadhar" id="ad" value="">
			<input type="password" value="" name="Confirm Password" placeholder="Confirm Password"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="email" id="mail" placeholder="E-mail" name="E-mail"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				readonly required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="text" value="" placeholder="First Name" name="First Name"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="text" value="" placeholder="Last Name" name="Last Name"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">

			<input type="text" value="" name="Father's Name" placeholder="Father's Name"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="Number" value="" name="Collage ID" placeholder="Collage ID"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;"
				required>
		</div>
		<div class="col-6" style="text-align: center;">
			<select name="Semester" placeholder="Semester"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;"
				required>
				<option value="I" hidden disabled selected>Semester</option>
				<option value="I">I</option>
				<option value="III">III</option>
				<option value="V">V</option>
				<option value="VII">VII</option>
			</select>
		</div>
		<div class="col-6" style="text-align: center;">
			<select name="Branch" placeholder="Branch"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;"
				required>
				<option value="CSE" disabled hidden selected>Department</option>
				<option value="CSE">CSE</option>
				<option value="ECE">ECE</option>
				<option value="EE">EE</option>
				<option value="ME">ME</option>
				<option value="CE">CE</option>
			</select>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="text" name="Contact Number" placeholder="Contact Number"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				maxlength="10" pattern="[5-9]{1}[0-9]{9}" required>
		</div>
		<div class="col-6" style="text-align: center;">
			<input type="file" name="myFile"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;   background-color: #f2af80;"
				required>
		</div>
	</div>
	{% csrf_token %}

	<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

	<div style="width: 100%;text-align:center;">

		<input type="submit" value="Submit" style="width: 50%; margin-top: 15px; " class="hovg">
	</div>
</form>

{% endblock %}