{% extends "base.html" %}
{% block content %}

<h1 style="font-size: 20px; font-weight: bold; color: #E66225;">
    ________________________________________________________________________________________________________________________________
</h1>
<br>
<div>
    <div>
        <div>
            <div>
                <form>
                    <input type="Number" value="" name="Adhar Card Number" placeholder="Adhar Card Number"
                        style="float: left;width: 200px; border-radius: 5px;padding: 7px;  margin-left: 420px; background-color: #f2af80;" required>
                    <input type="submit" value="Verify"
                        style="float: left;width: 200px; border-radius: 5px; padding: 7px;  margin-left: 40px; background-color: #32A800;">
                </form>
            </div>
        </div>
        <h1 style="font-size: 20px; font-weight: bold; color: #E66225;">
            ________________________________________________________________________________________________________________________________
        </h1>
        <h6 style="color:red;font-size:2em;text-align: center;">{{error}}</h6>

        <div>
            <div style="float: left; width: 50%;">
                <form action="{% url 'signupp' %}" method="POST">
                    <input type="text" value="" placeholder="Username" name="Username"
                        style="width: 400px; border-radius: 5px; padding: 7px;margin-top: 15px; margin-left: 220px; background-color: #f2af80;"required>
                    <input type="password" value="" name="Password" placeholder="Password"
                        style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 220px; background-color: #f2af80;"required>
                    <input type="password" value="" name="Confirm Password" placeholder="Confirm Password"
                        style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 220px; background-color: #f2af80;"required>
                    <input type="email" value="" placeholder="E-mail" name="E-mail"
                        style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 220px; background-color: #f2af80;"required>
                    <input type="text" value="" placeholder="First Name" name="First Name"
                        style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 220px; background-color: #f2af80;"required>
                    <input type="text" value="" placeholder="Last Name" name="Last Name"
                        style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 220px; background-color: #f2af80;"required>

            </div>
            <div style="float: left; width: 50%;  ">

                <input type="text" value="" name="Organisation" placeholder="Organisation"
                    style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 20px; background-color: #f2af80;"required>
                <input type="text" value="" name="Designation" placeholder="Designation"
                    style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 20px; background-color: #f2af80;"required>
                <input type="number" value="" name="Contact Number" placeholder="Contact Number"
                    style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px;  margin-left: 20px;background-color: #f2af80;"required>
                <input type="text" value="" name="Address" placeholder="Address"
                    style="width: 400px; border-radius: 5px; padding: 7px; margin-top: 15px; margin-left: 20px; background-color: #f2af80;"required>
            </div>
        </div>
        {% csrf_token %}


    </div>

</div>

<h1 style="font-size: 20px; font-weight: bold; color: #E66225;">
    ________________________________________________________________________________________________________________________________
</h1>
<div>
    <input type="submit" value="Submit"
        style="width: 840px; margin-left: 220px; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #32A800; ">
    </form>
</div>
<div>


    {% endblock content %}