{% extends "base.html" %}
{% block content %}

<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

<form>
    <div class="row">
        <div class="col-6" style="text-align:center;">
            <input type="Number" value="" name="Adhar Card Number" placeholder="Adhar Card Number"
                style="width: 50%; border-radius: 5px;padding: 7px; background-color: #f2af80;margin-bottom:15px;"
                required disabled>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="submit" value="Verify"
                style="width: 50%; border-radius: 5px; padding: 7px;background-color: #32A800;color:#000;" disabled>
        </div>
    </div>
</form>
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

<h6 style="color:red;font-size:2em;text-align: center;">{{error}}</h6>

<form action="{% url 'signupp' %}" method="POST">
    <div class="row">
        <div class="col-6" style="text-align:center;">
            <input type="text" value="" placeholder="Username" name="Username"
                style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="password" value="" name="Password" placeholder="Password"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="password" value="" name="Confirm Password" placeholder="Confirm Password"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="email" value="" placeholder="E-mail" name="E-mail"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="text" value="" placeholder="First Name" name="First Name"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="text" value="" placeholder="Last Name" name="Last Name"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="text" value="" name="Organisation" placeholder="Organisation"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="text" value="" name="Designation" placeholder="Designation"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="number" value="" name="Contact Number" placeholder="Contact Number"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
        <div class="col-6" style="text-align:center;">
            <input type="text" value="" name="Address" placeholder="Address"
                style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
                required>
        </div>
    </div>
    {% csrf_token %}

    <hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%">

    <div style="width: 100%;text-align: center;">
        <input type="submit" value="Submit"
            style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #32A800; color:#000;">
    </div>
</form>
<br>
{% endblock content %}