{% extends "base.html" %}
{% block content %}
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
<br>

<form>
	<h1 style="font-weight: bold; font-size: 40px; color: #6BB2DE; text-align: center;">
		DESIGN MENTOR
	</h1><br>
	<div style="display: flex;justify-content: space-evenly;">
		<input type="Number" value="" name="Employee ID" placeholder="Employee ID"
			style=" border-radius: 5px;padding: 7px; background-color: #f2af80;" required disabled>
		<input type="submit" value="Verify" style=" width:150px" class="hovg" disabled>
	</div>
</form>

<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
<h6 style="color:red;font-size:2em;text-align: center;">{{error}}</h6>
<form action="{% url 'signupm' %}" method="POST">
	<div class="row">
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Username" name="Username"
				style="width: 50%; border-radius: 5px; padding: 7px;margin-top: 15px; background-color: #f2af80;"
				required></div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">

			<input type="password" value="" name="Password" placeholder="Password"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required></div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="password" value="" name="Confirm Password" placeholder="Confirm Password"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required></div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">

			<input type="email" value="" placeholder="E-mail" name="E-mail"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required></div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="First Name" name="First Name"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required></div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Last Name" name="Last Name"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Designation" name="Designation"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="number" value="" placeholder="Adhar Card Number" name="Adhar Card Number"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Teaching Experience" name="Teaching Experience"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">

			<input type="text" value="" name="Father's Name" placeholder="Father's Name"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">

			<input type="text" name="Qualification" placeholder="Qualification"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">

			<select name="Department" placeholder="Department"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  background-color: #f2af80;"
				required>
				<option value="CSE" disabled hidden selected>Department</option>
				<option value="CSE">CSE</option>
				<option value="ECE">ECE</option>
				<option value="EE">EE</option>
				<option value="ME">ME</option>
				<option value="CE">CE</option>
			</select>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="Number" value="" name="Contact Number" placeholder="Contact Number"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px;  ;background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Industrial Experience" name="Industrial Experience"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required>
		</div>
		<div class="col-lg-6 col-sm-12" style="text-align: center;">
			<input type="text" value="" placeholder="Address" name="Address"
				style="width: 50%; border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #f2af80;"
				required></div>
		{% csrf_token %}
	</div>


	<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
	<br>
	<input type="submit" value="Submit" style="width: 25%;margin:auto;display:block;margin-top: 15px; "
		class="hovg"><br>
</form>

{% endblock %}