{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<style>
    label {
        margin-left: 220px;
    }

    .right {
        margin-left: 20px !important;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<hr style="font-size: 20px; font-weight: bold; border-color: #E66225;width:100%;margin-bottom:0;">
<br>

<!-- <div style="text-align: center;">
								<input type="button" value="EDIT" style="width: 440px;  border-radius: 5px; padding: 7px; margin-top: 15px; background-color: #32A800; ">
							</a>				</form>
			</div> -->
<div class="container">
    <p style="font-weight: bold; font-size: 40px; text-align: center;">
        Submitted Ideas
    </p>
    <table style="width:90%; margin-top: 30px;">
        <tr>
            <th>Title</th>
            <th>Problem Code</th>
            <th>Description</th>
            <th>Document</th>


        </tr>
        </tr>
        {% for idea in ideas %}

        <tr>
            <td>{{idea.title}}</td>
            <td>{{idea.problem.code}}</td>
            <td>{{idea.desc}}</td>
            <td>
                <a href="{{idea.doc.url}}">Download</a>
            </td>


        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}